.div1{
    width: 450px;
    height: 150px;
}

.New{
    position: relative;
    width: 500px;
    height: 550px;
    left: 550px;
    bottom: 220px;
    color: rgba(212, 111, 16, 0.918);
    background-color: black;
    margin-right: 2299px;
    
    

}

.zero{
    position: relative;
    color: rgb(255, 255, 255);
    left: 600px;
    bottom: 700px;
}
    


